@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}
body{
    height: 100vh;
    background-image:url(bday.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}